table {
    text-align: center;
}

table>thead>tr:nth-child(2)>td>div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black !important;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
tr:nth-child(2) > td:nth-child(3) > div {
    width: 100% !important;
}